#container {
  margin: 0 auto;
  display: grid;
}

div {
  height: 100px;
  width: 100px;

  .icon {
    font-size: 4rem;
    text-align: center;
  }

  .green {
    background-color: green;
  }

  .red {
    background-color: red;
  }
}

.black {
  background-color: black;

  &.icon {
    color: white;
  }
}

.white {
  background-color: white;

  &.icon {
    color: black;
  }
}
